// Rofi colors for Yael

* {
    font: "JetBrainsMono NF Bold 9";
    background: #141b1e;
    background-alt: #232a2d;
    foreground: #dadada;
    selected: #8ccf7e;
    active: #42be65;
    urgent: #ee5396;
    
    img-background: url("~/.config/bspwm/rices/fawaid.2/rofi.webp", width);
}
