// Rofi colors for Yael

* {
    font: "JetBrainsMono NF Bold 9";
    background: #141b1e;
    background-alt: #161616E0;
    foreground: #dadada;
    selected: #3ddbd9;
    active: #42be65;
    urgent: #ee5396;
    
    img-background: url("~/.config/bspwm/rices/fawaid/rofi.webp", width);
}
