// Eww colors for Yael rice
$bg: #141b1e;
$bg-alt: #232a2d;
$fg: #dadada;
$black: #393939;
$lightblack: #232a2d;
$red: #e57474;
$blue: #33b1ff;
$cyan: #3ddbd9;
$magenta: #ff7eb6;
$green: #42be65;
$yellow: #e5c76b;
$archicon: #0f94d2;
